ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.player-list {
  width: 30vw;
  padding-left: 2em;
  padding-right: 4em;
}

.timer-body {
  position: relative;
};

.timer {
  position: absolute;
  right: 3em;
  top: 2em;
}


